.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active{
    background-color: #b55e5e
}


.about h1 span{
    color: #b55e5e;
}

.option-box .color-option{
    border: 2px solid #b55e5e;
}

.option-box .color-option ul li{
    color: #b55e5e;
}

.gear-check{
    background: #b55e5e;
}

.copyright span{
    color: #b55e5e;
}

.footer h3{
    color: #b55e5e;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
   border: 2px solid #b55e5e;
}