@media (max-width:767px) {
    .navbar .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }


    .subscribe .form-control {
        margin: 20px auto;
        width: 400px;
    }

}
